@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap");

:root {
  --black: #0e0c0c;
  --blue: #0088b8;
  --red: #e11b20;
  --yellow: #fccd06;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  font-family: "Goldman";
  background-color: var(--black);
  color: white;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

section {
  width: 100%;
  height: 100vh;
  padding: 20px;
  /* border: 2px solid white; */
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

i {
  color: var(--black);
}

#web_logo {
  width: 5%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: -webkit-fill-available;
  margin: 20px;
  background: rgba(14, 12, 12, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  z-index: 800;
  padding: 5px;
}

.navbar {
  display: flex;
  gap: 2.5em;
}

.navbar a {
  font-size: 0.8em;
}

.link:nth-of-type(3n + 1) a {
  color: var(--blue);
}

.link:nth-of-type(3n + 2) a {
  color: var(--red);
}

.link:nth-of-type(3n + 0) a {
  color: var(--yellow);
}

.jobs {
  display: flex;
  justify-content: space-between;
}

.jobs .job:nth-of-type(1) {
  color: var(--yellow);
}

.jobs .job:nth-of-type(2) {
  color: var(--red);
}

.jobs .job:nth-of-type(3) {
  color: var(--blue);
}

.move {
  display: flex;
  gap: 4em;
  white-space: nowrap;
}

#landing {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.name {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 5.2em;
}

.name span:nth-of-type(1) {
  color: var(--yellow);
}

.name span:nth-of-type(2) {
  color: var(--red);
}

.name span:nth-of-type(3) {
  color: var(--blue);
}

/* ABOUT ME SECTION */
#about_me * {
  color: var(--blue);
}

#about_me {
  display: flex;
  gap: 2em;
  padding: 50px;
}

.about {
  height: auto;
  width: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.about p {
  font-size: larger;
}

.pfp {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/* EXPERIENCE SECTION */
#experience * {
  color: var(--red);
}

/* SKILLS SECTION */
#skills {
  color: var(--yellow);
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#skills i {
  color: var(--yellow);
  font-size: 2em;
}

#skills ion-icon {
  font-size: 2em;
}

.skill {
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 10px 15px;
  border: 2px solid var(--yellow);
  width: max-content;
  border-radius: 40px;
  height: fit-content;
}

/* PROJECTS SECTION */
#projects {
  color: var(--black);
}

.projects {
  display: inline-flex;
  overflow: hidden;
  /* transform: translateX(-49.8%); */
}

.project {
  width: 275px;
}

.project-img {
  display: flex;
  justify-content: center;
  align-content: center;
  border: 2px solid var(--blue);
}

.project-desc {
  background-color: var(--blue);
  color: 2px solid var(--black);
  border: 2px solid var(--black);
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.head {
  display: flex;
  justify-content: space-between;
}

.live {
  display: flex;
  gap: 0.5em;
}

.head,
.foot {
  padding: 5px;
}

.madewith {
  font-size: 13px;
}

/* CONTACT ME SECTION */
#contact_me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5em;
  color: var(--red);
}

#contact_me a {
  color: var(--red);
}

#contact_me .contacts {
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact_me .contacts i {
  color: var(--red);
  background-color: var(--black);
  border: 3px solid var(--red);
  border-radius: 50%;
  padding: 50px;
  margin: 0 -15px;
  transition: ease-in 0.1s;
  font-size: 150px;
}

#contact_me .contacts i:hover {
  background-color: var(--red);
  color: var(--black);
  border: 3px solid var(--red);
}

.downloadResume {
  font-size: 25px;
  border: 3px solid var(--red);
  padding: 15px 55px;
  display: flex;
  align-items: center;
  border-radius: 15px;
  transition: ease-in 0.1s;
}

.downloadResume:hover {
  color: var(--black);
  background-color: var(--red);
}

/* MORE SECTION */
#more {
  color: var(--yellow);
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.clickfor {
  font-size: 80px;
  line-height: 70%;
}

.more h1 {
  font-size: 24em;
  font-weight: lighter;
  line-height: 60%;
}

/* LOADING ANIMATION DESIGN */
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1000;
}

.blue {
  background-color: var(--blue);
}

.yellow {
  background-color: var(--yellow);
  color: var(--red);
}

.red {
  background-color: var(--red);
}

.counter {
  position: fixed;
  right: 50px;
  bottom: 50px;
  display: flex;
  height: 100px;
  font-size: 100px;
  line-height: 102px;
  clip-path: polygon(0 0, 100% 0, 100% 100px, 0 100px);
  font-weight: 400;
}

.counter-1,
.counter-2,
.counter-3 {
  position: relative;
  top: 0px;
}

.num1offset1,
.num1offset2,
.num1offset3 {
  position: relative;
  right: -30px;
}
